{% extends "base.html" %}
{% block title %}
{{ title }} {{ version  }}
{% endblock %}

{% block head %}
{% endblock %}

{% block individual_page_contents %}
<section id="side">
  <aside id="side__section">
    <div id="side__section__img">
      <img class="headshot" alt="user headshot" src={{ headshot  }}>
    </div>
    <div id="side__section__info">
      <h3>Location</h3>
      <p>{{ location }}</p>
    </div>
    <div id="side__section__movies">
      <h2><a href="" target="_blank">MOVIES</a></h2>
    </div>
    <div id="side__section__television">
      <h2><a href="" target="_blank">TELEVISION</a></h2>
    </div>    
  </aside>
</section>
<section id="top">
  <button
    id="top__popular"
    hx-get="/popular"
    hx-target="#body"
    hx-swap="innerHTML"
    hx-trigger="click"
    hx-vals='{"user_id": "{{ user_id }}"}'
    >
    POPULAR
  </button>
  <button
    id="top__playlist"
    hx-get="/playlist"
    hx-target="#body"
    hx-swap="innerHTML"
    hx-vals='{"user_id": "{{ user_id }}"}'
    hx-trigger="click"
    >
    PLAYLIST
  </button>
  <button
    id="top__favorites"
    hx-get="/favorites"
    hx-target="#body"
    hx-swap="innerHTML"
    hx-vals='{"user_id": "{{ user_id }}"}'
    hx-trigger="click"
    >
    FAVORITES
  </button>
</section>
<section id="body">
  {% for paragraph in thumbnails %}
  <div class="thumbnail">
    <h3 class="thumbnail__text__title">{{ paragraph.title }}</h3>
    <img class="thumbnail__img" src="{{ paragraph.img_url }}" alt="{{ paragraph.alt }}">
    <div class="thumbnail__text">      
      <p class="thumbnail__text__description">{{ paragraph.description }}</p>
    </div>
  </div>
  {% endfor %}
</section>
{% call super() %}
{% endblock %}
